// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// STYLES
@import url('/assets/css/main/app.css');
@import url('/assets/css/main/app-dark.css');
@import url('/assets/css/shared/iconly.css');
@import url('/datatables/datatables.min.css');
@import url('/assets/extensions/toastify-js/src/toastify.css');
@import url('/assets/extensions/choices.js/public/assets/styles/choices.min.css');
@import url('/select2/dist/css/select2.min.css');
@import url('/css/riko.css');

.choices__list--single {
    padding: initial
}

.select2-container--default,
.select2-selection--single .select2-selection__rendered {
    background-color: var(--bs-card-bg);
    border: 1px solid #607080;
    border-radius: .25rem;
    color: var(--bs-body-color);
    height: 36px
}

.select2-container--default .select2-selection--single {
    background-color: var(--bs-card-bg);
    border: 1px solid #607080;
    border-radius: 4px;
    height: 36px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--bs-body-color);
    line-height: 28px;
}

.disabledriko {
    background-color: #e9ecef;
    border: 1px solid #607080;
    margin-bottom: 1px;
    opacity: 1
}

.select2-dropdown {
    background-color: var(--bs-card-bg);
}